<header>
  <mat-toolbar class="app-toolbar mat-toolbar mat-toolbar-row mat-primary" color="primary" role="toolbar">
    <span class="title-spacer">
      <h2><a href="javascript:void(0)">{{ 'title' | translate }}</a></h2>
    </span>
    <mat-form-field class="right-menu">
      <mat-select [(ngModel)]="language" [compareWith]="compareFn" (change)="changeLanguage()">
        <mat-option *ngFor="let l of languages" [value]="l.id">{{ l.description }}</mat-option>
      </mat-select>
    </mat-form-field>
    <a class="right-menu" *ngIf="token" href="javascript:void(0)" (click)="logout()">{{ 'logout' | translate }}</a>
  </mat-toolbar>
</header>
<section>
  <router-outlet></router-outlet>
</section>
